

.main-header
{
  width: 95%;
  max-width: $siteWidth;
  padding: 2rem 0 0;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: baseline;
  h1
  {
    margin: 0.2em 0;
  }
}

.main-header--content
{
  flex: 1 0 50%;
  padding-right: 3em;
  margin-bottom: 1.5em;
}