
// $sizes : (sm : 1, md : 1.5, lg : 2, xl : 3);
$sizes : (xs : 0.9, sm : 1, md : 1.5);

@each $suffix, $fontsize in ($sizes)
{
	.text-body--#{$suffix}
	{
    font-size: #{$fontsize}rem;
    line-height: ($fontsize*150)/100 * 1rem;
	}
}