
.btn-primary
{
  background: $primary;
  color: $onPrimary;
  &:hover 
  {
    background: lighten($primary, 10%);
  }
}

.btn-secondary
{
  background: $secondary;
  color: $onSecondary;
  &:hover 
  {
    background: lighten($secondary, 10%);
  }
}

.btn-success
{
  background: $success;
  color: $onSuccess;
  &:hover 
  {
    background: lighten($success, 10%);
  }
}