.btn
{
  padding: 0.8em 1.2em;
  background: none;
  border: none;
  font-size: 1em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;  
  cursor: pointer;
  border-radius: 5px;
}