

.sm-fixed
{
  position: fixed;
}

// .fixed-bottom
// .fixed-left
// .fixed-right
.sm-fixed-top
{
  top: 1em;
}

.sm-fixed-left
{
  left: 1em;
}

.sm-fixed-right
{
  right: 1em;
}

.sm-margin-top
{
  margin-top: 5em;
}