
html,body{
  width: 100%;
  height: 100%;
}

body 
{
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
}

.main-wrapper,
.flex-content
{
  width: 95%;
  max-width: $siteWidth;
  margin: 0 auto;
  // overflow: hidden;
}

.flex-content
{
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-item-content
{
  display: flex;
  flex-flow: column nowrap;
}

.flex-item
{   
  transition: all .3s;
  margin-bottom: 2em;
  img
  {
    max-width: 100%;
  }
}

.item
{
  padding: 1em;
  margin: 1em auto;
}

.item-avatar
{
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 100%;
  margin: 1rem auto;
}

.item-header
{
  position: relative;
}

.item-footer
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0 0;
}