<template>
  <div>
    <button type="button" class="btn btn-secondary sm-fixed sm-fixed-top sm-fixed-left" @click="toggleTheme">
      <i class="fa" :class="{'fa-moon-o' : theme == 'light', 'fa-sun-o' : theme == 'dark'}" aria-hidden="true"></i> {{btnThemeText}}
    </button>
    <link rel="stylesheet" href="light.css" :disabled="theme == 'dark'">
    <link rel="stylesheet" href="dark.css" :disabled="theme == 'light'">
  </div>
</template>

<script>
export default {
  name : 'Theme-Control',
  data(){
    return {
      theme : 'light',
      btnThemeText : ''
    }
  },
  mounted(){
    let saved = localStorage.getItem('theme');
    if(saved){
      this.theme = saved
    }

    this.btnThemeText = this.theme == 'light' ? 'dark' : 'light';
  },
  methods : {
    toggleTheme(){
      if(this.theme == 'light'){
        this.theme = 'dark'
        this.btnThemeText = 'light'
      }else{
        this.theme = 'light'
        this.btnThemeText = 'dark'
      }

      localStorage.setItem('theme', this.theme);
    }
  }
}
</script>