<template>
  <div>
    <div class="main-wrapper text-right">      
      <button type="button" class="btn sm-fixed sm-fixed-top sm-fixed-right" :class="{'btn-primary' : isDisabled, 'btn-success' : !isDisabled}" @click="toggleEdit"><i class="fa" :class="{'fa-edit' : isDisabled, 'fa-check' : !isDisabled}" aria-hidden="true"></i> {{editButtonText}}</button>
    </div>
    <br>
    <draggable element="section" class="flex-content" :options="{disabled : isDisabled, handle : '.ui-handle', group : 'order', store : options.store}">				
      <div class="flex-item" :class="{'item--draggable': !isDisabled}" v-for="(tweetsCollection, index) in tweetsCollections" :key="index" :data-id="tweetsCollection.user">
        <header class="item-header text-center">
          <div class="item-avatar">
            <img :src="tweetsCollection.profile_pic" :alt="tweetsCollection.user+' profile pic'">
          </div>
          <a :href="'https://twitter.com/'+tweetsCollection.user" class="text-body--md" target="_blank">@{{tweetsCollection.user}}</a>
          <i class="ui-handle ui-displayable fa fa-arrows" aria-hidden="true"></i>
        </header>
        <div class="flex-item-content">
          <article class="item" v-for="tweet in tweetsCollection.collection" :key="tweet.id">
            <p class="text-body--sm" v-html="parseUser(tweet.text)"></p>
            <div class="item-footer">
              <a :href="'https://twitter.com/'+tweet.user.screen_name+'/status/'+tweet.id_str" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a> <p class="text-body--xs text-right">{{tweet.created_at | formatDate}}</p>
            </div>
          </article>
        </div>
      </div>
    </draggable>
  </div>
</template>


<script>

import draggable from 'vuedraggable';

export default {
  name : 'Tweets',
  components: {
      draggable,
  },  
  data(){
    return {
      tweetsCollections : [],
      isDisabled : true,
      editButtonText : 'Sort',
      options : {           
        store : {
          get : function(sortable){
            var order = localStorage.getItem(sortable.options.group.name);            
            return order ? order.split('|') : [];
          },
          set : function(sortable){
            var order = sortable.toArray(); 
            localStorage.setItem(sortable.options.group.name, order.join('|'));
          }
        }
      }
    }
  },
  created(){
    // Using 'push' to create the collection messes with the sortablejs 'store' functionality
    // There must be a better way to do this but for this demo this will have to do
    var getTweets = (loginName) => {
                    return this.$http.get(`http://localhost:7890/1.1/statuses/user_timeline.json?count=30&screen_name=${loginName}`).then(res => res.json())
                  };
    let a = {'user' : 'makeschool', 'profile_pic' : '', 'collection' : []}
    let b = {'user' : 'newsycombinator', 'profile_pic' : '', 'collection' : []}
    let c = {'user' : 'ycombinator', 'profile_pic' : '', 'collection' : []}
    getTweets('makeschool').then(res => {    
      a.collection = res
      a.profile_pic = res[0].user.profile_image_url
    })
    getTweets('newsycombinator').then(res => {    
      b.collection = res
      b.profile_pic = res[0].user.profile_image_url
    })
    getTweets('ycombinator').then(res => {    
      c.collection = res
      c.profile_pic = res[0].user.profile_image_url
    })
    
    this.tweetsCollections  = [a,b,c]
  },
  methods : {
    toggleEdit(){
      this.isDisabled = !this.isDisabled;
      if(this.isDisabled){
        this.editButtonText = 'Sort';
      }else{
        this.editButtonText = 'Done';
      }
    },
    parseUser(str){
      return str.replace(/@([\w]+)/g, function(matched){
        return '<a href="https://twitter.com/'+matched.replace('@','')+'" target="_blank">'+matched+'</a>';
      });
    }
  },
  filters : {
    formatDate(strDate){
      // I could've used moments.js though
      let date = new Date(strDate).toLocaleString('en-US',{ hour: "2-digit", minute: "2-digit", seconds : false, day : "2-digit", month : "short" });
      return date;
    }
  }
}
</script>
