
$surface : #282828;
$onSurface : #fff;

$primary : #2f78d8;
$onPrimary : #fff;

$secondary : #999;
$onSecondary : #333;

$success : #70ac48;
$onSuccess : #fff;

$normalState : #ccc;

$bg : #000;
$shadowColor : #595e69;
$linkDefault : #2f78d8;