
$surface : #fff;
$onSurface : #000;

$primary : #2f78d8;
$onPrimary : #fff;

$secondary : #999;
$onSecondary : #333;

$success : #70ac48;
$onSuccess : #fff;

$normalState : #666;

$bg : #efefef;
$shadowColor : #999;
$linkDefault : #2f78d8;